{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'recipes/css/main.css' %}">
</head>

<body>
    <h1 class="main__title">Recipe List</h1>
    <main class="main__container">
        {% for object in object_list %}
        <div class="recipe__card">
            <div class="recipe__img-box">
                <img src="{{object.pic.url}}" alt="{{object.name}}" width="150">
            </div>
            <div class="inner__container">
                <a href="{{object.get_absolute_url}}">
                    <h3 class="recipe__name">{{object.name}}</h3>
                </a>
                <p class="recipe__difficulty">{{object.calculate_difficulty}}</p>
            </div>
        </div>
        {% endfor %}
    </main>
</body>

</html>