<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:wght@300;400;700&display=swap"
        rel="stylesheet">
    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipes/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/recipe.css' %}">
</head>

<body>
    <header>
        <nav>
            <p><a href="{% url 'recipes:home' %}">Recipe App</a></p>
            <div role="menubar" class="nav__items">
                <ul class="nav-list">
                    <li role="presentation">
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'recipes:records' %}">Search</a>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <h1 class="main__title"></h1>
    <main class="main__container">
        {% for object in object_list %}
        <div class="recipe__card">
            <div class="recipe__img-box">
                <img src="{{object.pic}}" alt="{{object.name}}" width="150">
            </div>
            <div class="inner__container">
                <a href="{{object.get_absolute_url}}">
                    <h3 class="recipe__name">{{object.name}}</h3>
                </a>
                <p class="recipe__difficulty">{{object.calculate_difficulty}}</p>
            </div>
        </div>
        {% endfor %}
    </main>

    <footer>
        <small>&copy; Miki Akuta 2023</small>
        <a href="https://github.com/Mikkobelly" target="_blank" class="media-link">
            <!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
            <svg style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="media">
                <g>
                    <path class="st0" d="M256,32C132.3,32,32,134.8,32,261.7c0,101.5,64.2,187.5,153.2,217.9c11.2,2.1,15.3-5,15.3-11.1
                           c0-5.5-0.2-19.9-0.3-39.1c-62.3,13.9-75.5-30.8-75.5-30.8c-10.2-26.5-24.9-33.6-24.9-33.6c-20.3-14.3,1.5-14,1.5-14   
                           c22.5,1.6,34.3,23.7,34.3,23.7c20,35.1,52.4,25,65.2,19.1c2-14.8,7.8-25,14.2-30.7c-49.7-5.8-102-25.5-102-113.5   
                           c0-25.1,8.7-45.6,23-61.6c-2.3-5.8-10-29.2,2.2-60.8c0,0,18.8-6.2,61.6,23.5c17.9-5.1,37-7.6,56.1-7.7c19,0.1,38.2,2.6,56.1,7.7   
                           c42.8-29.7,61.5-23.5,61.5-23.5c12.2,31.6,4.5,55,2.2,60.8c14.3,16.1,23,36.6,23,61.6c0,88.2-52.4,107.6-102.3,113.3   
                           c8,7.1,15.2,21.1,15.2,42.5c0,30.7-0.3,55.5-0.3,63c0,6.1,4,13.3,15.4,11C415.9,449.1,480,363.1,480,261.7   
                           C480,134.8,379.7,32,256,32z" />
                </g>
            </svg>
        </a>
    </footer>
</body>

</html>