{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Search</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:wght@300;400;700&display=swap"
        rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'recipes/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/records.css' %}">
</head>

<body>
    <header>
        <nav>
            <p><a href="{% url 'recipes:list' %}">Recipe App</a></p>
            <div role="menubar" class="nav__items">
                <ul class="nav-list">
                    <li role="presentation">
                        <a href="{% url 'recipes:list' %}">Recipes</a>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <h1 class="records__title">Search Recipes</h1>
    <main class="records__container">
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit">Search</button>
        </form>
        <br>
        {% if recipes_df %}
        {{ recipes_df | safe}}
        <br>
        <img src="data:image/png;base64, {{chart|safe}}" alt="chart">
        {% else %}
        <h3>No data found</h3>
        {% endif %}
    </main>

    <footer>
        <small>&copy; Miki Akuta 2023</small>
    </footer>
</body>

</html>