{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:wght@300;400;700&display=swap"
        rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'recipes/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/auth.css' %}">
</head>

<body>
    <header>
        <nav>
            <p><a href="{% url 'recipes:home' %}">Recipe App</a></p>
            <div role="menubar" class="nav__items">
                <ul class="nav-list">
                    <li role="presentation">
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="img-bg--success">
        <div class="msg__container">
            <h1 class="success__title">You've successfully logged out!</h1>
            <a href="{% url 'login' %}" class="login__btn">Log in</a>
        </div>
    </div>

    <footer>
        <small>&copy; Miki Akuta 2023</small>
    </footer>
</body>

</html>